:root{
    --gradient:linear-gradient(90deg, #f1c40f, #f39c12);
}
*{
    font-family: 'Open Sans', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    border:none; outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}
.learn_html{
    position: relative;
    top: 5rem;
}
.html_content{
    margin-top: 3rem;
}
.overview {
    margin: 3.5rem 0rem;
}
.our_notes {
    margin: 4.5rem 0rem;
}

.heading{
    color: #666;
    font-size: 2.4rem;
}
.my_btn{ 
    background: var(--gradient);
    color: #fff;
    cursor: pointer;
    box-shadow: 0 .1rem .3rem rgba(0,0,0,.3);
    border-radius: 4rem;
    padding: .7rem 1.2rem;
    font-size: 1rem;
    
}
.overview_content {
    padding: 3rem 0px;
}
.overview_content h4{
    font-weight: 700;
    
}
.overview_content p{
    font-size: 1.1rem;
    color: #999;
    max-width: 500px;
    padding: 15px 0px;
}
.notes_unit{
    border-left: 0.375rem solid #3a10e5;
    list-style: none;
}
.flexcontainer{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.flex_list_item_container{
    display: flex;
}

.notes_list_item{
    border-bottom: 0.0625rem solid #f6f5fa;
    display: flex;
}
.list_item_index{
    font-size: 3rem;
    font-weight: 700;
    letter-spacing: .15rem;
    color: #646466;
    width: 8rem;
    padding: 2rem 1rem;
    text-align: center;
    flex-shrink: 0;
    flex-grow: 0;
}
.list_item_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 1.5625rem;
    padding: 2rem 0;
}
.list_item_content h5{
    font-size: 1.5rem;
    font-weight: 700;
    color: blue;
}
.list_item_content p{
    font-size: 1.1rem;
    color: #999;
    max-width: 500px;
    
}
.flexbutton{
    display: flex;
    align-items: center;
    padding-right: px-rem(50px);
}

.flexbutton a{
    text-decoration: none;
    height: 40px;
    border-radius: 4px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    border: 2px solid #3a10e5;
    margin-left: 8rem;
    color: #3a10e5;
    font-weight: 500;
}

.html_ide{
    margin-top: 2.5rem;
}
br { 
    display: none; 
}
 textarea{
     display: block;margin: 10px 0; width:100%; border: 1px solid #333;
}
 
iframe{
    display: block;margin: 10px 0; width:100%; resize:both; overflow: auto; border: 2px solid #666;
    margin-bottom: 10rem;

}

.container marquee{
    color: #646466;
    font-size: 1rem;
}